.footext p{
	padding: 8px;
}

.footext a {
	text-decoration: none;
	font-size: 16px;
	color: #b2b5ba;
	font-weight: bold;
	
}

.footext p:first-letter{
	color:#e43d49; 
}
.footext a:hover {
	text-decoration: underline;
	
	
}
