.menu{
	height: 40px;
	width: 1215px;
	background-color: #7f272f;
	padding:0px 10px 10px 0px;
}

.menu li{
	float: right;
	
}

.menu a {
	padding: 10px 35px;
	display: block;
	height: 40px;
	text-align: center;
	text-decoration: none;
	color:white;
	font-size: 16px;
}

.menu a:hover{
	background-color:#2f373e;
	color: white;
}
