.news-window{
	
	width: 100%;
	height: 320px;
}
.img-window{
	background-color: black;
	height: 220px;
}

.text-window{		
	padding: 5px ;
	height: 80px;
	
}
	
.text-window a {
	text-decoration: none;
	color: #7f272f ;
	font-size: 19px;
	font-weight: bold;
	
}

.text-window a:hover {
	color: #958d8d ;	
}

.img-size {
    height: 220px; 
    width: 100%; 
}

 .category-window{
	 width: 100%;
	border-top: 1px solid black;
	 padding: 3px 0px 0px 5px;
	 margin-top: 10px;
 	font-size: 12px;
 	float: left;
}

.category-window a{
	text-decoration: none;
	color: #7f272f;
}

.category-window a:hover{
	text-decoration: underline;
}
.button{
	position: absolute;
	margin: 5px;
	width: 25px;
	height: 25px;

}
.heartlike{
	 position: absolute;
	 bottom:-7px;
	 right: -7px;
	 margin: 5px;
	 width: 25px;
	 height: 25px;
	 background-image: url("images/heart1.png");
	 background-color: #2f373e;
	 background-repeat:no-repeat;
	 background-position: center;
	 
 }

 .heartunlike{
	bottom:-7px;
	right: -7px;
	position: absolute;
	margin: 5px;
	width: 25px;
	height: 25px;
	background-image: url("images/heart white.png");
	background-repeat:no-repeat;
	background-position: center;
	background-color: #2f373e;

}
.heartunlike:hover{
	cursor: pointer;
	background-image: url("images/heart1.png");
	background-color: #2f373e;
	background-repeat:no-repeat;
	background-position: center;
	
}